{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Filmler</title>
    <!-- Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <!-- My CSS -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    {% include 'include/_navbar.html' %}
    
      <!-- Hero image -->
      <div class="hero-image">
       
        <div class="hero-text">
            <h1>Sınırsız film, dizi ve çok daha fazlası.</h1>
            <h4>İstediğiniz yerde izleyin. İstediğiniz zaman iptal edin.</h4>
            <p>İzlemeye hazır mısınız? Üyelik oluşturmak veya üyeliğinze erişmek için e-posta adresinizi girin</p>
            <form action="" method="GET" >
                <input class="form-control w-50 m-auto" type="text" name="search_movie">
                <input class="btn btn-danger mt-3 px-5" type="submit" value="Ara">
            </form>

            <button class="btn btn-secondary btn-lg mt-3">Oynat</button>
            <button class="btn btn-secondary btn-lg mt-3">Daha Fazla Bilgi</button>
        </div>
       
      </div>

      <div class="container">
          <div class="row mt-5">

            <h3 class="text-light">Netflix'te Popüler</h3>

           {% for film in filimler %}
                    {% if film.kategori.name == 'popüler' or film.kategori.name == 'gündem ve popüler' %}
                        <div class="col-md-2 col-4 mt-1">
                            <a href="video.html">
                                <img src="{{ film.resim.url }}" class="w-100" alt="">
                            </a>
                        </div>
                    {% endif %}
           {% endfor %}

          </div>

          <div class="row mt-5">
              <h3 class="text-light"> Gündemdekiler</h3>

              {% for film in filimler %}
                    {% if film.kategori.name == 'gündemdeki' or film.kategori.name == 'gündem ve popüler' %}
                        <div class="col-md-2 col-4 mt-1">
                            <a href="video.html">
                                <img src="{{ film.resim.url }}" class="w-100" alt="">
                            </a>
                        </div>
                    {% endif %}
              {% endfor %}

            
          </div>


          <div class="row mt-5">
            <h3 class="text-light"> İzlenen</h3>

            {% for film in izlenen %}
                  
                      <div class="col-md-2 col-4 mt-1">
                          <a href="video.html">
                              <img src="{{ film.resim.url }}" class="w-100" alt="">
                          </a>
                      </div>
                  
            {% endfor %}

            
        </div>
      </div>


      {% include 'include/_footer.html' %}

    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
</body>
</html>